Victron_AD.json
[{"id":"ca1f24be.a06ad8","type":"tab","label":"Victron VE.Direct, AD conv.","disabled":false,"info":""},{"id":"68567dc8.ec28b4","type":"ads1x15-raspi","z":"ca1f24be.a06ad8","property":"payload","name":"ADS 1015","chip":"IC_ADS1015","i2c_address":"ADDRESS_0x48","channel":"DIFF_0_1","samplesPerSecond0":"SPS_128","samplesPerSecond1":"SPS_8","progGainAmp":"PGA_6_144V","x":280,"y":100,"wires":[["ce1e7c17.6f86c","98bb28a.bc322d8"]]},{"id":"3a0ef44.d02d20c","type":"inject","z":"ca1f24be.a06ad8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["68567dc8.ec28b4"]]},{"id":"ce1e7c17.6f86c","type":"function","z":"ca1f24be.a06ad8","name":"WEB-socket delta","func":"// Send delta\n\nmsg.payload =\n  {\n    \"updates\": [\n      {\n        \"values\": [\n          {\n            \"path\": \"electrical.batteries.99.voltage\",\n            \"value\": msg.payload.voltage\n          }\n        ],\n        \"$source\": \"input-test.AD\"\n      }\n    ]\n  }\n\nreturn msg ;\n\n// {\"updates\":[{\"values\": [{\"path\":\"a.b\", \"value\":3.14}]}]}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":100,"wires":[["2eda8808.0ecc68"]]},{"id":"2eda8808.0ecc68","type":"websocket out","z":"ca1f24be.a06ad8","name":"WS out","server":"84dc11b1.16aa4","client":"","x":620,"y":100,"wires":[]},{"id":"98bb28a.bc322d8","type":"debug","z":"ca1f24be.a06ad8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":140,"wires":[]},{"id":"a7dca9a6.e4cc7","type":"udp out","z":"ca1f24be.a06ad8","name":"Send UDP","addr":"zest","iface":"","port":"8888","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":610,"y":160,"wires":[]},{"id":"68c05781.ca1a88","type":"serial in","z":"ca1f24be.a06ad8","name":"","serial":"427ecb51.5b3084","x":100,"y":160,"wires":[["98bb28a.bc322d8","a7dca9a6.e4cc7"]]},{"id":"84dc11b1.16aa4","type":"websocket-listener","path":"ws://zest/signalk/v1/stream?subscribe=none","wholemsg":"false"},{"id":"427ecb51.5b3084","type":"serial-port","serialport":"/dev/ttyS0","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]